# Question1
## Given two integers A and B (A ≤ B). Print all numbers from A to B inclusively.
### Sample input
```
1
7
```
### Sample output
```
1 2 3 4 5 6 7
```

In [5]:
A=int(input())
B=int(input())
for i in range(A,B+1):
 print(i,end=" ")

 1
 7

1 2 3 4 5 6 7

#  Question2
## Given two integers A and B (A ≤ B). Print all numbers from A to B inclusively,in ascending order, if A < B, or in descending order, if A ≥ B.
### Sample input
```
1
4
```
### Sample output
```
1 2 3 4
```
### Sample input
```
-4
1
```
### Sample output
```
-4 -3 -2 -1 0 1
```

In [8]:
A=int(input())
B=int(input())
if A<B:
    for i in range(A,B+1):
         print(i,end=" ")
else:
    for i in range(B,A-1):
         print(i,end=" ")

 -4
 1

-4 -3 -2 -1 0 1

# Q3 Sum of ten numbers
## 10 numbers are given in the input.Read them and print their sum.Use as few variables as you can
### sample input
```
1
2
3
4
5
6
7
8
9
10
```
### output
```
55
```

In [9]:
sum=0
for i in range(10):
    a=int(input())
    sum+=a
print(sum)

 1
 2
 3
 4
 5
 6
 7
 8
 9
 10

55

# Q4:Sum of N numbers
## N numbers are given in the input. Read them and print their sum.
## The first line of input contains the integer N, which is the number of integers to follow. Each of the next N lines contains one integer. Print the sum of these N integers.
```
10 #input the number of N
1
2
1
1
1
1
3
1
1
1
```
output
```
13
```

In [11]:
N=int(input())
sum=0
for i in range(N):
    a=int(input())
    sum+=a
print(sum)

 3
 1
 2
 3

6

# Q5:Sum of cubes
# For the given integer N calculate the following sum:
$$1^3 + 2^3 + \cdots + N^3$$
Example Input
```
4
```
Example Output
```
100
```

In [13]:
N=int(input())
sum=0
for i in range(1,N+1):
    sum+=i**3
print(sum)

 4

100

# Q6:Factorial Calculation

## In mathematics, the factorial of an integer n, denoted by n!is the following product:
       n!=1×2×…×n
## For the given integer n calculate the value n! Don't use math module in this exercise.
Example input
```
5
```
Example output
```
120
```

In [14]:
N=int(input())
sum=1
for i in range(1,N+1):
    sum*=i
print(sum)

 5

120

# Q7: The number of zeros
## Given N numbers: the first number in the input is N, after that N integers are given. Count the number of zeros among the given integers and print it.
## You need to count the number of numbers that are equal to zero, not the number of zero digits.
Example Input:
```
5
0
700
0
200
2
```
Example Ouput:
```
2
```

In [ ]:

N = int(input())
zero_count = 0
for i in range(N):
    number = int(input())
    if number == 0:
        zero_count += 1 
print(zero_count)

# Which of the following will add up the numbers from 1 to 4?

In [ ]:
for i in range(1,4):
    sum = 0
    sum = sum + i
print(sum)

In [ ]:
sum = 0
for i in range(1,4):
    sum = sum + i
print(sum)

In [ ]:
for i in range(1,5):
    sum = 0
    sum = sum + i
print(sum)

In [ ]:
sum = 0
for i in range(1,5):
    sum = sum + sum
print(sum)

In [ ]:
sum = 0
for i in range(1,5):
    sum = sum + i
print(sum)

# Q8: Adding factorials
### Given an integer n, print the sum 1!+2!+3!+...+n!.
### This problem has a solution with only one loop, so try to discover it. And don't use the math library :)
example input
```
4
```
example output
```
33
```

In [16]:
N=int(input())
sum=0
f=1
for i in range(1,N+1):
    f=f*i
    sum+=f
print(sum)

 4

33

# Q9: Ladder
### For given integer n ≤ 9 print a ladder of n steps. The k-th step consists of the integers from 1 to k without spaces between them.
### To do that, you can use the sep and end arguments for the function print().
Example input
```
4
```
Example output
```
1
12
123
1234
```

In [17]:
n = int(input("Enter the number of steps: "))

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end='')
    print()

Enter the number of steps:  4

1
12
123
1234

# Q10 Lost card
# There was a set of cards with numbers from 1 to N. One of the card is now lost. Determine the number on that lost card given the numbers for the remaining cards.
# Given a number N, followed by N − 1 integers - representing the numbers on the remaining cards (distinct integers in the range from 1 to N). Find and print the number on the lost card.
example input
```
5
3
5
2
1
```
example output
```
4
```

In [21]:
N = int(input())

sum = 0
for i in range(N-1):
    sum += int(input())

total_sum = N * (N + 1) // 2

lost_card = total_sum - sum
lost_card

 6
 1
 2
 3
 4
 5

6

# Q11:https://github.com/madfrov/AP-USACO/blob/main/Bronze/Bronze%5BUSACO18DEC%5D%20Mixing%20Milk%20B.md

In [26]:
s = 'Hello'
t = s  # s and t point to the same string
t = s[0:4]  # now t points to the new string 'll'
print(s)  # prints 'Hello' as s is not changed
print(t)

Hello
Hell